*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: white;
  background-color: black;
  
}

.parent{
  display: flex;
  flex-wrap: wrap;
}

.card{
  margin: 10px 20px;
  width: 200px;
  height: 200px;
  padding: 10px 20px;
  border: 2px solid white;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.card button{
  display: flex;
  width: 70px;
  background-color: blue;
  color: white;
  justify-content: center;
  align-items: center;
  padding: 2px 10px;
  border-radius: 7px;
  border: 2px solid black;
}